*{
  padding: 0;
  margin: 0;
}
body{
  background-color: black;
}
header{
  background-image: url(Assets/Images/bg2.jpg);
  height: 111vh;
  position: relative;
  background-size: max(1200px, 100vw);
  background-position: center center;
  background-repeat: no-repeat;
  border-bottom: 9px solid #232323;
}
.bg_cover{
  height: 111vh;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: black;
  opacity: .70;
}
nav{
  max-width: 81vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}
nav img {
  top: 10px;
  left: 40px;
  
width: 150px;
  position: relative;
  z-index: 10;
}
nav button {
  position: relative;
  z-index: 10;
}
.hero{
  height: 75%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: sans-serif;
  gap: 28px;
  padding: 30px;
  word-spacing: -1.5px;
}
.hero> :nth-child(1){
  font-weight: 800;
  font-size: 50px;
  font-family:Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  text-align: center;
}
.hero> :nth-child(2){
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}
.hero> :nth-child(3){
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}
.btn{
  padding: 7px 14px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  border: none;
  background-color: rgba(23, 23, 23, 0.9);
  z-index: 10;
  font-size: 15px;
}
.btn-red{
background-color: #e50914;
font-family: sans-serif;
font-size: 25px;
padding: 14px 28px;
}
input {
  display: flex;
  font-family: sans-serif;
  left: 1px;
  font-weight: 300;
  color: white;
font-size: 16px;
padding: 10px 145px 8px 10px;
border-radius: 5px;
background-color: rgba(23, 23, 23, 0.8);
border: .8px solid rgba(187, 186, 186, 0.5);
}
.hero-buttons {
  display: flex;
  gap: 8px;
}
.btn-red-sn{
background-color: #e50914;
}
.btn-text{
  text-decoration: none;
  color: white;
}
.btn_head{
  display: flex;
  gap: 13px;
  margin: 15px 50px 0 0;
}
.btn-lang{
  background-color: rgba(23, 23, 23, 0.9);
border: .8px solid rgba(187, 186, 186, 0.5);
padding: 5px 25px 5px 25px;
}

/* second-section */

.first{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  margin: auto;
  color: white;
  padding: 50px 0 150px 0;
  border-bottom: 9px solid #232323;
}

.secImg{
  position: relative;
  right: 10px;
}
.sec-text{
  position: relative;
  left: 30px;
}
.secImg img{
  width: 545px;
  position: relative;
  z-index: 10;
}
.secImg video{
  position: absolute;
  top: 85px;
  right: 7px;
  width: 34vw;
}
.first > div{
  display: flex;
  flex-direction: column;
}
.first > div :nth-child(1){
  font-size: 49px;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  font-weight: 700;
}
.first > div :nth-child(2){
  font-size: 24px;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.first > div :nth-child(3){
  font-size: 24px;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.sec-sec-text{
  left: 0px;
}
.third img{
  top: 50px;
  width: 50vw;
  
}
.third video{
  position: absolute;
  top: 85px;
  width: 45vw;
  height: 40vh;
  right: 45px;
}
.forth img{
  top: 50px;
}
.forth .sec-text{
  right: 30px;
  top: 50px;
}
.faq h2{
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  padding: 0 0 12px 0;
}
.faq{
  background-color: black;
  color: white;
  padding: 34px;
  border-bottom: 9px solid #232323;
}
.faqbox svg{
  filter: invert(1);
}
.faqbox svg:active {
transform: rotateZ(45deg);
}
.faqbox{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2d2d2d;
  padding: 19px;
  color: white;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  font-size: 25px;
  max-width: 60vw;
  margin: 10px auto;
  cursor: pointer;
  transition: all 1s ease-out;
}
.faqbox:hover{
  background-color: rgb(65, 65, 65);
}
.new-head{
  font-family:Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif ;
  height: 75%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: sans-serif;
  gap: 28px;
  padding: 30px;
  word-spacing: -1.5px;
}

/* footer */

footer{
  color: #a0a0a0;
  
  font-family:Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif ;
}
.footer-text{
  padding: 30px 0px 20px 250px;
  font-weight: 500;
}
.footer-container{
  display: flex;
  justify-content: space-evenly;
  padding: 25px 50px 60px 100px;
}
.footer-text a{
  color: #a0a0a0;
}
.footer-col a{
  font-size: 14px;
  display: flex;
  flex-direction: column;
  padding: 7px;
  color: #a0a0a0;
}
.footer-lang{
  margin: 0px 0px 20px 240px;
}
.last-text{
  font-size: 14px;
  margin: 20px 0px 100px 240px;
}